version: "3"
services:
  api:
    build: .
    ports:
      - 8000:8000
    volumes:
      - ./:/usr/src/app
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    env_file:
      - ./app/.env
    depends_on:
      - postgres

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_PASSWORD=20102004
      - POSTGRES_DB=fastapi
      - POSTGRES_USER=postgres
    volumes:
      - postgres-db:/var/lib/postgresql/data

volumes:
  postgres-db:
